.rightAlign{
    width:100%;
    display:flex;
}

.larger1 {
    width: 250% !important;
    height: 250% !important;
    background-size: 100% !important;
    background-position: 0px 0px;
  }

  .larger2 {
    width: 20% !important;
    height: 65% !important;
    background-size: 100% !important;
    background-position: 0px 0px;
    display:flex;
    align-items:center;
  }
