.rightAlign{
    width:100%;
    display:flex;
}

.larger1 {
    width: 100% !important;
    height: 100% !important;
    background-size: 100% !important;
    background-position: 0px 0px;
  }

  .larger2 {
    width: 150% !important;
    height: 150% !important;
    background-size: 100% !important;
    background-position: 0px 0px;
  }
